/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  margin-inline: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 90%;
  height: 110vh;
  margin-left: 8rem;
  overflow: hidden;
}

.wrapper > div {
  flex: 1;
}

.container img {
  width: 348px;
  height: 155px;
  left: 143px;
  top: 110px;
  margin-bottom: 8rem;
  margin-top: 4rem;
}


.inputField {
  width: 30%;
  height: 2.8rem;
  border: 2px solid rgb(35, 36, 1);
  padding: 10px 15px;
  border-radius: 0.4rem;
  margin-bottom: 1.8rem;
  font-weight: 600;
  font-size: 13px;
}

p.text{
  position: relative;
  color: #EF4444;
  font-size: 16px;
  font-weight: 400;
  margin-right: 13rem;
  margin-bottom: 1.8rem;
  top: -1.2rem;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap img{
  position: fixed;
  width: 830px;
  height: 720px;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-left: 15rem;
}

.btn  {
  position: relative;
  background: #F5F4F4;
  padding: 1rem 4rem;
  width: 30%;
  border-radius: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  border: 2px solid rgb(35, 36, 1);
}

.btn:hover {
  transition: .4s ease-in-out;
  background-color: #dddada;
}

/* sign up */

.container.container1  {
  width: 348px;
  height: 155px; 
  top: 110px;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.wrapp img{
  position: absolute;
  width: 751px;
  height: 535px;
  left: 600px;
  top: 106px;
 }

 .groups{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
 }

 .pics.pics1 {
  padding: relative;
  width: 51px;
  height: 25px;
  top: 168px;
  margin-bottom: 5rem;
 }

 .group{
  width: 600px;
  height: 350px;
  top: 284px;
  right: 6rem;

  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
 }

 .text h1{
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 15rem;
 }

 .text p{
  position: absolute;
  width: 737px;
  height: 120px;
  right: 3px;
  top: 238px;
  margin-top: 6rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
 }

 .flex span{
  color: rgba(246, 159, 55, 1);
  font-size: 1.2;
 }

 .but  button{
  position: relative;
  border: 3px solid #007BB6;
  border-radius: 12px;
  font-size: 1.2rem;
  top: 40rem;
  margin-right: 2.2rem;
  padding: 0.3rem;
}

 .foot{
  background: #000000;
  position: absolute;
  width: 100%;
  height: 76px;
  left: 0px;
  top: 60rem;
  color: white;
  padding: 2rem 3rem;
  font-size: 1.5rem;
 }